body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: #f0fff0;
  color: #28292a;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.container {
  width: 60%;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 10px;
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -100px;
}

.header img {
  width: 100px;
  height: 100px;
}

.header h1 {
  top: 18px;
  left: 10px;
}

.main-image {
  width: 100%;
  margin: 0 auto;
}

img.side-image {
  max-height: 500px;
  max-width: 500px;
  height: auto;
  width: auto;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h1 {
  font-size: 2em;
  line-height: 0.75em;
  margin-bottom: 2.5vw;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
}

#kr {
  table-layout: auto;
  width: 300px;
  padding-left: 20px;
}

a {
  color: #28292a;
}
a:active,
a:hover {
  color: #29cb7e;
}
